<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	data-namespace-typo3-fluid="true">
	<f:layout name="Grid" />

	<f:section name="Configuration">
		<flux:form id="threeColumns" options="{group: 'Bootstrap Grids'}">
			<flux:field.input name="settings.left.class" default="col-sm-4" required="true" />
			<flux:field.input name="settings.middle.class" default="col-sm-4" required="true" />
			<flux:field.input name="settings.right.class" default="col-sm-4" required="true" />
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="left" style="width: 33.333%;" />
				<flux:grid.column name="middle" style="width: 33.333%;" />
				<flux:grid.column name="right" style="width: 33.333%;" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<div class="{settings.left.class}">
			<flux:content.render area="left" />
		</div>
		<div class="{settings.middle.class}">
			<flux:content.render area="middle" />
		</div>
		<div class="{settings.right.class}">
			<flux:content.render area="right" />
		</div>
	</f:section>
</html>