<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	data-namespace-typo3-fluid="true">
	<f:layout name="Grid" />

	<f:section name="Configuration">
		<flux:form id="fourColumns" options="{group: 'Bootstrap Grids'}">
			<flux:field.input name="settings.col1.class" default="col-sm-3" required="true" />
			<flux:field.input name="settings.col2.class" default="col-sm-3" required="true" />
			<flux:field.input name="settings.col3.class" default="col-sm-3" required="true" />
			<flux:field.input name="settings.col4.class" default="col-sm-3" required="true" />
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="col1" style="width: 25%;" />
				<flux:grid.column name="col2" style="width: 25%;" />
				<flux:grid.column name="col3" style="width: 25%;" />
				<flux:grid.column name="col4" style="width: 25%;" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<div class="{settings.col1.class}">
			<flux:content.render area="col1" />
		</div>
		<div class="{settings.col2.class}">
			<flux:content.render area="col2" />
		</div>
		<div class="{settings.col3.class}">
			<flux:content.render area="col3" />
		</div>
		<div class="{settings.col4.class}">
			<flux:content.render area="col4" />
		</div>
	</f:section>
</html>