<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	data-namespace-typo3-fluid="true">
	<f:layout name="FCE" />

	<f:section name="Configuration">
		<flux:form id="jumbotron" options="{group: 'Bootstrap FCE'}">
			<flux:field.checkbox name="settings.jumbotron.fullWidth" />
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="content" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<div class="jumbotron">
			<f:if condition="{settings.jumbotron.fullWidth}">
				<f:then>
					<div class="container">
						<flux:content.render area="content" />
					</div>
				</f:then>
				<f:else>
					<flux:content.render area="content" />
				</f:else>
			</f:if>
		</div>
	</f:section>
</html>