<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:vhs="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	data-namespace-typo3-fluid="true">
	<f:layout name="FCE" />

	<f:section name="Configuration">
		<flux:form id="panel" options="{group: 'Bootstrap FCE'}">
			<flux:field.select name="settings.panel.class" items="default, primary, success, info, warning, danger" translateCsvItems="TRUE" />
			<flux:field.checkbox name="settings.panel.footer" />
		</flux:form>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="content" />
			</flux:grid.row>
			<f:if condition="{settings.panel.footer}">
				<flux:grid.row>
					<flux:grid.column name="footer" />
				</flux:grid.row>
			</f:if>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<flux:content.get area="content" as="panels" render="FALSE">
			<f:if condition="{panels}">
				<div class="panel panel-{settings.panel.class}">
					<f:if condition="panels.0.header_layout != 100">
						<div class="panel-heading">
							<h{f:if(condition: panels.0.header_layout, then: panels.0.header_layout, else: 1)} class="panel-title{f:if(condition: panels.0.header_position, then: ' text-')}{panels.0.header_position}">{panels.0.header}</h{f:if(condition: panels.0.header_layout, then: panels.0.header_layout, else: 1)}>
						</div>
					</f:if>
					<div class="panel-body">
						<f:for each="{panels}" as="panel">
							<vhs:content.render contentUids="{1: panel.uid}" />
						</f:for>
					</div>
					<f:if condition="{settings.panel.footer}">
						<div class="panel-footer">
							<flux:content.render area="footer" />
						</div>
					</f:if>
				</div>
			</f:if>
		</flux:content.get>
	</f:section>
</html>